# * LiNMT v1.0                     * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 03/13/2017             * #
# * Time  : 17:43                  * #
# * tuning bpe model               * #


# codes file, input file, output file
param="--bpe-segment"     value="codes input output"
param="--log"             value="bpe-segment.log"


