# * LiNMT v1.0                     * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * decoding with nmt model        * #


# basic settings
param="--decoding"                       value="1 ../work/nmt/nmt-model-best_save_all_models_15.nn ../work/nmt/nn-linmt/1best"
param="--another-encoder-vocab-mappings" value="../work/nmt/nmt-model-src"
param="--decoded-files"                  value="mt12/10"
param="--another-encoder-decoded-files"  value="mt12/10.another"
param="--log"                            value="../work/nmt/nn-linmt/nmt-decoding.log"

# normal settings
param="--beam-size"                      value="12"
param="--penalty"                        value="0"
param="--decoding-ratio"                 value="0.8 2.0"
param="--longest-sent"                   value="200"
param="--lp-alpha"                       value="0.00"
param="--cp-beta"                        value="0.00"
param="--diversity"                      value="0.00"
param="--multi-gpu"                      value="0"

# other settings
param="--tmp-dir-location"               value="../work/nmt/nn-linmt/"
param="--print-decoding-info"            value="1"
param="--print-align-scores"             value="1"

