# * LiNMT v1.0                     * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * tuning nlm model               * #


# basic settings
param="--nlm"                        value=""
param="--tune"                       value="../data/train-eng ../work/nlm/nlm-model"
param="--best-model"                 value="../work/nlm/nlm-model-best"
param="--save-all-models"            value="1"
param="--log"                        value="../work/nlm/nlm-tune.log"


# normal settings
param="--target-vocab-size"          value="10000"
param="--hidden-size"                value="1024"
param="--layers-number"              value="1"
param="--shuffle"                    value="1"
param="--minibatch-size"             value="64"
param="--learning-rate"              value="0.7"
param="--longest-sent"               value="200"
param="--parameter-range"            value="-0.08 0.08"
param="--whole-clip-gradients"       value="5"
param="--multi-gpu"                  value="0 0"


# epoch settings
param="--number-epochs"              value="20"


# dropout settings
param="--dropout"                    value="0.8"


# adaptive training settings
param="--adaptive-halve-lr"          value="../data/valid-eng"
param="--adaptive-decrease-factor"   value="1"


# fixed halve learning
param="--fixed-halve-lr"             value="6"


# other settings
param="--tmp-dir-location"           value="../work/nlm/"
param="--screen-print-rate"          value="50"





