# * NiuTrans.nlm v1.0              * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * force decoding with nlm model  * #


# basic settings
param="--nlm"                        value=""
param="--force-decoding"             value="../data/force-decode-eng ../work/nlm/nlm-model-best-1 ../work/nlm/force-decode-score"
param="--log"                        value="../work/nlm/nlm-force-decoding.log"

# normal settings
param="--longest-sent"               value="500"


# other settings
param="--tmp-dir-location"           value="../work/nlm/"

