# * NiuTrans.NMT v1.0              * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * postprocess                    * #


# basic settings
# 1 1best, 2 dev, 3 number of references, 4 remove oov mode, 5 output file
param="--bleu"                          value="../work/nmt/nn-15/1best ./mt04/mt04-dev 5 1 ../work/nmt/nn-15/1best-bleu"
param="--log"                           value="../work/nmt/nmt-bleu.log"
