# * NiuTrans.NMT v1.0              * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * finetune nmt model             * #


# basic settings
param="--continue-tune"                 value="../data/train-chn ../data/train-eng ../work/nmt/nmt-model-best-15"
param="--best-model"                    value="../work/nmt/nmt-model-best-15-finetune"
param="--save-all-models"               value="1"
param="--log"                           value="../work/nmt/nmt-finetune.log"
param="--finetune"                      value="1"

# normal settings
param="--target-vocab-size"             value="30000"
param="--source-vocab-size"             value="30000"
param="--hidden-size"                   value="1000"
param="--layers-number"                 value="4"
param="--shuffle"                       value="1"
param="--minibatch-size"                value="64"
param="--learning-rate"                 value="0.1"
param="--longest-sent"                  value="100"
param="--parameter-range"               value="-0.08 0.08"
param="--whole-clip-gradients"          value="5"
param="--multi-gpu"                     value="0 0 0 0 0"


# epoch settings
param="--number-epochs"                 value="10"


# attention settings
param="--attention-mode"                value="1"
param="--attention-width"               value="10"
param="--feed-input"                    value="1"


# dropout settings
param="--dropout"                       value="0.8"


# adaptive training settings
param="--adaptive-halve-lr"             value="../data/valid-chn ../data/valid-eng"
param="--adaptive-decrease-factor"      value="1"


# fixed halve learning
param="--fixed-halve-lr"                value="5"


# other settings
param="--tmp-dir-location"              value="../work/nmt/"
param="--screen-print-rate"             value="50"





