# * NiuTrans.NMT v1.0              * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * decoding with nmt model        * #


# basic settings
param="--decoding"                   value="1 ../work/nmt/nmt-model-best-1"
param="--online"                     value="1"
param="--postprocess-unk"            value="../debug/c2e.word2phrase.dict ../debug/stopword.txt 0" 
# use specific gpu in multi-gpus eviroment
param="--multi-gpu"                  value="0"

# normal settings
param="--beam-size"                  value="12"
param="--lp-alpha"                   value="0.65"
param="--cp-beta"                    value="0.20"
param="--penalty"                    value="0"
param="--decoding-ratio"             value="1.0 2.0"
param="--longest-sent"               value="200"


# log setting
# LOG_DEBUG=1 LOG_INFO=2 LOG_WARNING=3 LOG_ERROR=4 LOG_FORBID=5
# if you don't want to log, set --log-level=5
# if you want to log debug info, set --log-level=1
# in normal case, set --log-level=2
param="--log-level"                  value="1"
# log path
param="--log"                        value="../work/nmt/nmt-decoding-sentence.log"
# print decoding result
param="--print-decoding-info"        value="1"




