# * NiuTrans.NMT v1.0              * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * decoding with nmt model        * #


# basic settings
param="--decoding-sentence"          value="1 ../work/nmt/nmt-model-best-1 ../work/nmt/1best-sentence"
param="--decoded-files"              value="../data/sent-chn"
param="--log"                        value="../work/nmt/nmt-decoding-sentence.log"

# normal settings
param="--beam-size"                  value="12"
param="--penalty"                    value="0"
param="--decoding-ratio"             value="1.0 2.0"
param="--longest-sent"               value="200"


# other settings
param="--tmp-dir-location"           value="../work/nmt/"
param="--print-decoding-info"        value="1"
