# * NiuTrans.NMT v1.0              * #
# * Author: Qiang Li               * #
# * Email : liqiangneu@gmail.com   * #
# * Date  : 10/30/2016             * #
# * Time  : 15:32                  * #
# * postprocess                    * #


# basic settings
# Parameters: model-1 model-2 ... model-n output-model
param="--average-models"                value="model-1 model-2 ... model-n output"
param="--log"                           value="../work/nmt/nmt-average-models.log"
